<ion-header>
  <ion-toolbar>
    <ion-tab-button tab="buscar">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    

  </ion-toolbar>
  

</ion-header>

<ion-content>
  

<ion-card>
  <ion-card-header>
    <ion-card-title>One Piece</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Los juegos del calamar</ion-card-title>
    <ion-card-subtitle>Serie koreana</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Descripcion serie numero 2
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Lucifer</ion-card-title>
    <ion-card-subtitle>Serie celestial</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Descripcion serie numero 3
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header >
    <ion-card-title href="https://www.youtube.com/watch?v=Mli3dXlDlcE">The crown</ion-card-title>
    <ion-card-subtitle>N.°4 más visto en chile</ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    Más de 73 millones de hogares han visto esta serie dramática acerca de la reina Isabel II y la familia real
  </ion-card-content>
</ion-card>
</ion-content>


