<ion-header>
  <ion-toolbar>
    <ion-tab-button tab="buscar">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>
    

  </ion-toolbar>
  

</ion-header>

<ion-content>
  <div class="grupo-img">
    <div class="img-perfil">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg" />
      </ion-thumbnail>
    </div>
  </div>
  

<ion-card>
  <ion-card-header>
    <ion-card-title>One Piece</ion-card-title>
    <ion-card-subtitle>Anime shonen más populares</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Monkey D. Luffy navega con su tripulacion en busca de un preciado tesoro que pueda convertirlo en el nuevo rey de los piratas
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Los juegos del calamar</ion-card-title>
    <ion-card-subtitle>Serie koreana</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    ¿Dinero o moral? ¿Supervivencia o humanidad? En este juego cruel, los jugadores deben elegir si quieren acceder ante sus perores instintos o ...
  </ion-card-content>
</ion-card>
<ion-card>
  
  <ion-card-header>
    <img src="../../assets/img/lucifer-302368528-mmed.jpg">
    <ion-card-title>Lucifer</ion-card-title>
    <ion-card-subtitle>Serie celestial</ion-card-subtitle>
    
  </ion-card-header>

  <ion-card-content>
    Aburrido de ser amo del infierno, el diablo se muda a Los Angeles donde abre un club nocturno y se relaciona con una detective de ho...
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header >
    <ion-card-title href="https://www.youtube.com/watch?v=Mli3dXlDlcE">The crown</ion-card-title>
    <ion-card-subtitle>N.°4 más visto en chile</ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    Más de 73 millones de hogares han visto esta serie dramática acerca de la reina Isabel II y la familia real
  </ion-card-content>
</ion-card>
</ion-content>


