ion-thumbnail {
  --margin-top: 20px;
  --size: 50px;
  --border-radius: 14px;
}

.grupo-img {
  display: flex;
  justify-content: start;
}

.grupo-img .img-perfil {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 50px;
}

.Titulo1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.boton {
  margin-bottom: 10px;
  margin-top: 10px;

}

.boton ion-button {
  height: 50px;
}
