
<ion-header>
  <ion-toolbar class="menu-top">
    <ion-tab-button tab="inicio">
      <ion-icon  name="arrow-back-outline"></ion-icon>
      
    </ion-tab-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-searchbar placeholder="Buscar una serie, una peli, un género"></ion-searchbar>
    
  
 <ion-list>
    <ion-item>The crown</ion-item>
    <ion-item>Los juegos del calamar</ion-item>
    <ion-item>One Piece</ion-item>
    <ion-item>El bueno, el malo y el feo</ion-item>
    <ion-item>Todo el mundo a la mesa</ion-item>
    <ion-item>Escalofrios</ion-item>
    <ion-item>Escuela de rock</ion-item>
    <ion-item>Pokemon Viajes</ion-item>
    <ion-item>Cobra kai</ion-item>
    <ion-item>Facultad de derecho</ion-item>

  </ion-list>
</ion-content>